*{

  font-family: cursive,'Times New Roman', Times, serif;
  font-size: large;
  
}
body {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #3498db;
   
}
input,select {
    border: 2px solid black;
    border-radius: 15px;
}
#submit{
  cursor: pointer;
  border: 3px solid black;
  border-radius: 10px;
}
#submit:active {
  background-color: rgb(8, 241, 105);
}